.app {
  text-align: center;
  color: red;
}

.filter input {
  margin: 5px;
}

.add-movie input {
  margin: 5px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  border: 1px solid #3b3a3a;
  margin: 10px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: rgb(247, 34, 34);
}

.movie-card img {
  width: 100%;
}

.movie-info {
  text-align: left;
}

body{
  background-color: rgb(71, 71, 71);
}

.movie-card:hover {
  transform: scale(1.05);  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  color: rgb(1, 1, 14);
}